*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
}
header nav ul {
    display: flex;
    gap: 2vh;
    list-style-type: none;
}
header nav ul li {
    margin: 2vh;
}
header nav ul li a{
    text-decoration: none;
    font-size: medium;
    font-weight: 500;
    color: white;
}
.logo{
    margin-top: 2vh;
}
#home{
    padding-bottom: 10%;
    background-image: url(../imgs/hero-bg.svg);
    background-repeat: no-repeat;
}
header nav ul li a:hover{
    text-decoration: underline yellow solid !important;
    transition: 0.5s;
}

.navactive{
    text-decoration: underline yellow solid !important;
}

.pt20{
 padding-top: 20vh;
}

.featurei{
    border-radius: 50%!important;
    background: lightblue;
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-img1{
    position:relative;
    top:-300px;
    left: -100px;
    z-index: -5;
}
.left-img2{
    position:relative;
    top:-100px;
    left: 200px;
    z-index: -5;
}
.right-img1{
    position:relative;
    top:-300px;
    left: 510px;
    z-index: -5;
}
.right-img2{
    position:relative;
    top:-100px;
    left: -200px;
    z-index: -5;
}
.featurelist{
    list-style-type: circle blue !important;
    font-size: large;
}

.card-body li{
    list-style-type: none;
    text-align: center;
    list-style: none;
    margin-top: 1%;
}
