@{
    ViewData["Title"] = "Home Page";
}
@model List<Comment>
<main class="">
    <section id="home" class="">
        <div class="pt20">
            <div class="container d-flex justify-content-center gap-5">
                <div class="">
                    <h1 class="fs-1 fw-bold text-white mt-5">Launch Your SaaS Website in Minutes!</h1>
                    <p class="fs-4 text-white" class="mt-5">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                        voluptua.
                    </p>
                    <button class="btn btn-outline-light rounded-pill fs-3 mt-5 fw-semibold">Get started</button>
                </div>
                <div>
                    <img style="width: 80vh; " src="./assets/imgs/hero-img.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="container mt-5">
        <div class="d-flex">
            <div class=" m-5">
                <div class="d-flex justify-content-center">
                    <div class="featurei ">
                        <i class="bi text-primary bi-arrow-up-circle fs-1 text-center"></i>
                    </div>
                </div>

                <p class="fs-3 fw-bold text-center mt-3">Bootstrap 5</p>
                <p class="text-dark-50 text-center">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore
                </p>
            </div>

            <div class=" m-5">
                <div class="d-flex justify-content-center">
                    <div class="featurei ">
                        <i class="bi text-primary bi-arrow-up-circle fs-1 text-center"></i>
                    </div>
                </div>
                <p class="fs-3 fw-bold text-center mt-3">Bootstrap 5</p>
                <p class="text-dark-50 text-center">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore
                </p>
            </div>
            <div class="m-5">
                <div class="d-flex justify-content-center">
                    <div class="featurei ">
                        <i class="bi text-primary bi-arrow-up-circle fs-1 text-center"></i>
                    </div>
                </div>
                <p class="fs-3 fw-bold text-center mt-3">Bootstrap 5</p>
                <p class="text-black-50 text-center">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore
                </p>
            </div>
        </div>
    </section>


    <section class="container">
        <div class="d-flex mt-5 justify-content-center align-items-center gap-5">
            <div class="">
                <img src="./assets/imgs/about-1.png" alt="">
                <img class="left-img1 w-25 text-primary" src="./assets/imgs/about-left-shape.svg" alt="">
                <img class="left-img2 w-25 text-primary" src="./assets/imgs/right-dots.svg" alt="">
            </div>
            <div class="">
                <h2 class="fw-bold">Perfect Solution Thriving Online Business</h2>
                <p class="text-black-50">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dinonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                    et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                    est Lorem.Lorem ipsum dolor sit amet.
                </p>
                <button class="btn btn-outline-primary rounded-pill fs-3 mt-5 fw-semibold">Discover More</button>
            </div>
        </div>

        <div class="d-flex mt-5 justify-content-center align-items-center gap-5">

            <div class="">
                <h2 class="fw-bold">Easy to Use with Tons of Awesome Features</h2>
                <p class="text-black-50">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
                <ul>
                    <li class="featurelist"> Quick Access</li>
                    <li class="featurelist">Easily to Manage</li>
                    <li class="featurelist">24/7 Support</li>
                </ul>
                <button class="btn btn-outline-primary rounded-pill fs-3 mt-5 fw-semibold">Discover More</button>
            </div>
            <div class="">
                <img src="./assets/imgs/about-1.png" alt="">
                <img class="right-img1 w-25" src="./assets/imgs/about-right-shape.svg" alt="">
                <img class="right-img2 w-25" src="./assets/imgs/left-dots.svg" alt="">
            </div>
        </div>
    </section>


    <section class="mt-5 bg-light">
        <div class="container">
            <div class="pt-5">
                <h3 class=" border-light text-center">Why Choose SaaSpal</h3>
                <p class=" text-black-50 text-center container">
                    Lorem ipsum dolor sit amet, consetetur sadipscing
                    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                </p>
            </div>
            <div class="d-flex flex-wrap justify-content-center">
                <div class=" m-5 w-25">
                    <div class="">
                        <i class="bi text-primary bi-arrow-up-circle fs-1 text-center"></i>
                    </div>
                    <p class="fs-3 fw-bold text-center mt-3">Bootstrap 5</p>
                    <p class="text-dark-50 text-center">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor invidunt ut labore
                    </p>
                </div>
                <div class=" m-5 w-25">
                    <div class="">
                        <i class="bi text-primary bi-arrow-up-circle fs-1 text-center"></i>
                    </div>
                    <p class="fs-3 fw-bold text-center mt-3">Bootstrap 5</p>
                    <p class="text-dark-50 text-center">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor invidunt ut labore
                    </p>
                </div>
                <div class=" m-5 w-25">
                    <div class="">
                        <i class="bi text-primary bi-arrow-up-circle fs-1 text-center"></i>
                    </div>
                    <p class="fs-3 fw-bold text-center mt-3">Bootstrap 5</p>
                    <p class="text-dark-50 text-center ">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor invidunt ut labore
                    </p>
                </div>
                <div class=" m-5 w-25">
                    <div class="">
                        <i class="bi text-primary bi-arrow-up-circle fs-1 text-center"></i>
                    </div>
                    <p class="fs-3 fw-bold text-center mt-3">Bootstrap 5</p>
                    <p class="text-dark-50 text-center">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor invidunt ut labore
                    </p>
                </div>
                <div class=" m-5 w-25">
                    <div class="">
                        <i class="bi text-primary bi-arrow-up-circle fs-1 text-center"></i>
                    </div>
                    <p class="fs-3 fw-bold text-center mt-3">Bootstrap 5</p>
                    <p class="text-dark-50 text-center">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor invidunt ut labore
                    </p>
                </div>
                <div class=" m-5 w-25">
                    <div class="">
                        <i class="bi text-primary bi-arrow-up-circle fs-1 text-center"></i>
                    </div>
                    <p class="fs-3 fw-bold text-center mt-3">Bootstrap 5</p>
                    <p class="text-dark-50 text-center">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor invidunt ut labore
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5">
        <div class="container">
            <div class="pt-5">
                <h3 class=" border-light text-center">Choose a Plan</h3>
                <p class=" text-black-50 text-center container">
                    Lorem ipsum dolor sit amet, consetetur sadipscing
                    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                </p>
            </div>
            <div>
                <span class="d-flex justify-content-center rounded-pill gap-5"><button class="btn btn-light">Montly</button><button class="btn rounded-pill btn-primary">Yearly</button></span>
                <div class="d-flex flex-wrap justify-content-center gap-5 mt-5">

                    <div class="card h-100 text-center w-25 shadow-sm p-3 mb-5 bg-white rounded">
                        <p class="fw-bold text-primary fs-2 text-center mt-2">$36</p>
                        <p class="fw-semibold fs-4 text-center">Basic Account </p>
                        <hr>
                        <div class="card-body">

                            <p class="text-center"><i class="bi bi-check2 text-primary fs-3"></i>Unlimited Acces</p>
                            <p class="text-center"><i class="bi bi-check2 text-primary fs-3"></i>Unlimited Acces</p>
                            <p class="text-center"><i class="bi bi-check2 text-primary fs-3"></i>Unlimited Acces</p>
                            <p class="text-center"><span class=" text-primary fs-3">X</span>Unlimited Acces</p>
                            <p class="text-center"><span class=" text-primary fs-3">X</span>Unlimited Acces</p>

                            <button class="btn btn-outline-primary rounded-pill border-5">Get Start</button>
                        </div>
                    </div>
                    <div class="card h-100 text-center w-25 shadow-sm p-3 mb-5 bg-white rounded">
                        <p class="fw-bold text-primary fs-2 text-center mt-2">$36</p>
                        <p class="fw-semibold fs-4 text-center">Basic Account </p>
                        <hr>
                        <div class="card-body">

                            <p class="text-center"><i class="bi bi-check2 text-primary fs-3"></i>Unlimited Acces</p>
                            <p class="text-center"><i class="bi bi-check2 text-primary fs-3"></i>Unlimited Acces</p>
                            <p class="text-center"><i class="bi bi-check2 text-primary fs-3"></i>Unlimited Acces</p>
                            <p class="text-center"><i class="bi bi-check2 text-primary fs-3"></i>Unlimited Acces</p>
                            <p class="text-center"><i class="bi bi-check2 text-primary fs-3"></i>Unlimited Acces</p>

                            <button class="btn btn-outline-primary rounded-pill border-5">Get Start</button>
                        </div>
                    </div>

                    <div class="card h-100 text-center w-25 shadow-sm p-3 mb-5 bg-white rounded">
                        <p class="fw-bold text-primary fs-2 text-center mt-2">$36</p>
                        <p class="fw-semibold fs-4 text-center">Basic Account </p>
                        <hr>
                        <div class="card-body">
                            <p class="text-center"><i class="bi bi-check2 text-primary fs-3"></i>Unlimited Acces</p>
                            <p class="text-center"><i class="bi bi-check2 text-primary fs-3"></i>Unlimited Acces</p>
                            <p class="text-center"><i class="bi bi-check2 text-primary fs-3"></i>Unlimited Acces</p>
                            <p class="text-center"><i class="bi bi-check2 text-primary fs-3"></i>Unlimited Acces</p>
                            <p class="text-center"><span class=" text-primary fs-3">X</span>Unlimited Acces</p>
                            <button class="btn btn-outline-primary rounded-pill border-5">Get Start</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5 container">
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="active" aria-current="true" aria-label="Slide @i"></button>
                    }
                </div>
                @foreach (var item in Model)
                {
                    <div class="carousel-inner">
                        <div class="carousel-item  active">
                            <div class="card" style="width: 18rem;">
                                <img src="./assets/imgs/@item.Img" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">@item.Desc</p>
                                    <p class="card-text">@item.Name</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    </section>
</main>
